body {
  background-color: #00C853;
}
.navbar-brand {
  text-shadow: 1px 1px 1px #fff;
  color: black;
  font-family: serif;
  font-weight: bold;
  font-size: 40px;
  padding-top: 20px;
  margin-bottom: 10px;
}
section {
  border: 3px solid black;
  margin-bottom: 20px;
  height: 2500px;
  overflow: auto;
  background-color: #69F0AE;
  margin-top: 20px;
}
p {
  padding: 20px;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2em;
}
h3 { 
  font-weight: bold;
  font-size: 30px;
  font-family: serif;
}
h1 { 
  font-weight: bold;
  font-size: 40px;
  font-family: serif;
}
.text {
  float: right;
  margin-right: 20px;
  font-style: inherit;
  font-weight: bold;
}
h4 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;

}
